<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <style>
        body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #f1f1f1;
        }

        #weather-container {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        }

        h1 {
        color: #333;
        }

        p {
        color: #666;
        }

        input {
        padding: 8px;
        margin-right: 8px;
        width: auto;
        }

        button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
    </style>
    </head>
    <body>
    <div id="weather-container">
        <h1>Weather App</h1>
        <form action="/processWeather" method="post">
            Location: <input type="text" id="city" name="location" placeholder="Enter city name or zip code" required>
            Number of Days: <input type="number" id="userNumber" name="numDays" min="1" max="14" required>
            <div>
                <input type="reset" value="Clear">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
