<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather Near Me</title>
</head>

<body>
	<h1>Welcome to Weather Near Me</h1>
    <h2>Get weather near me</h2>
    <ul>
        <li>To sign in select <a href="/signIn">Sign In</a><br><br></li>
        <li>To sign up select <a href="/signUp">Sign Up</a><br></li>
    </ul>
    <hr>
</body>

</html>
