<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sign In Response Page</title>
</head>

<body>
	<h1>Welcome to My Weather</h1>
    <hr>
    <br>
    <%- responseString %> 
    <hr>
</body>

</html>
