<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="weather-info"><%- table %></div>
    <hr>
    <a href="/home">HOME</a>
</body>
</html>